/* TODO: Make it awesome */
body{
    background-color: #eeeff0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin: 30px;
}

.logo {
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.logo{
    display: inline-block;
    width: 40%;
}

.logoImage {
    background-image: url("../img/bus-transparent.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 50px;
    float: left;
    z-index: 100;
}
 .logo h1{ 
    font-size: 5rem;
    color: #dc7726;
    float: left;
    margin: 30px 15px 15px 15px;
    font-weight: 800;
    padding: 15px;
 }

 a,
 a:hover,
 a:visited,
 a:active {
     color:inherit;
 }


 nav{
    float: right;
    width: 40%; 
    margin-top: 50px;
    color: 
 }

 nav ul{
    list-style: none; 
    
}
 
nav li{
    float:right;
    padding: 15px;
    text-align: center;
}

nav a{
    transform-style: none;
    font-size:1.2rem;
    color: #eeeff0;
}

main {
    position: relative;
    padding: 100px;
    display: inline-block;
}

.deck {
    margin: 0px 60px;
    padding: 30px;
}

.deck h1, legend{
    font-size: 2rem;
    padding-bottom: 30px;
}

.col-1{
    float:left;
}

.card {
    font-size: 1.5rem;
    line-height: 2rem;
}

input {
    width: 150px;
    height: 50px;
}
select {
    width: 150px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    color: #eeeff0;
    background-color: #dc7726;  
}
p{  
font-family: 'Montserrat', Helvetica,  Arial, sans-serif sans-serif;
}

.submit {
	animation-duration: 1s;
	animation-name: flash;
    animation-iteration-count: 1;
}

footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin:0;
    padding: 15px;
    height: 60px;
    background-color: #4A545D;
}

footer p{
    padding: 30px 15px 0px 30px;
    color: #eeeff0;
}